<div>
<h3>Активность виртуальных хостов</h3>
<form action="{{ url_for('save_vhosts_status') }}" method="post">
<input type="submit" value="Сохранить"/>
<ul>
     {% for vhost in vhosts %}
          <li>
               <label {% if vhost.1 %}title="{{ vhost.0 }} активен"{% else %}title="{{ vhost.0 }} неактивен"{% endif %}>
                    <input type="checkbox" name="vhost" value="{{ vhost.0 }}" {% if vhost.1 %}checked="checked"{% endif %}/> {{ vhost.0 }}
               </label>
          </li>
     {% endfor %}
</ul>
</form>
</div>